<div class="container">
  <div class="background-image" style="
    background-image: url('assets/index_images/index_cover_fade.png');
    background-size: cover;
    background-position: bottom; /* Place l'image en bas */
    background-repeat: no-repeat;
    width: 100%;
    height: 85vh; /* Occupe 85% de la hauteur de la page */
    position: absolute; /* Positionne l'image indépendamment */
    top: 0; /* Fixe la position en haut */
    left: 0;
    z-index: 1;"> <!-- Z-index pour rester derrière -->
  </div>

  <div class="content" style="margin-top: 50px; margin-left: 30px; position: relative; z-index: 2;">
    <div class="title">
      <h1 class="indexTitle">Dayz Guesser</h1>
      <p class="subtitle">DISCOVER THE WORLD OF FROSTLINE</p>
      <p class="subtitle">AND TEST YOUR KNOWLEDGE OF THE MAP</p>
    </div>

    <div class="play">
      <a routerLink="/game">
        <button class="play-button">Start Playing</button>
      </a>
      <p class="description">
        Challenge yourself to recognize iconic locations from the Frostline map. How well do you know the terrain?
      </p>
    </div>

    <div class="leanr-more-arrow">


    </div>
  </div>

  <div class="learn-more">
    <h2>About Dayz Guesser</h2>
    <p>
      "DayZGuessr is an immersive game that tests your knowledge of the DayZ map.
      Whether you're a veteran or a novice explorer, each game takes you to the very heart of the world and atmosphere of DayZ."
    </p>
    <p>
      "With over NaN locations to discover, you'll never cease to be amazed by the details scattered across the entire FrostLine map."
    </p>

    <div class="features-bloc">
      <div class="features-title">Features : </div>
      <div class="features-bar"></div>
        <p>
          - 5 timed rounds with 30 seconds per round.<br>
          - Scoring based on the proximity of your guess.<br>
          - A collapsible map for an immersive experience.
        </p>
    </div>

    <div class="aboutme-bloc">
      <div class="aboutme-title">About me !</div>
      <div class="aboutme-bar"></div>
        <p>
          I'm a passionate computer science student developing this project to merge my love for gaming
          and web development. This is an independent project, and I'm excited to share it with the community!
        </p>
    </div>
  </div>
</div>
