/* Conteneur de la carte */
.map-container {
  position: absolute; /* Positionnement absolu */
  bottom: 20px; /* Placée en bas de l'écran */
  right: 20px; /* Placée à droite de l'écran */
  width: 20%; /* Largeur initiale */
  height: 30%; /* Hauteur initiale */
  transition: width 0.3s ease, height 0.3s ease, bottom 0.3s ease, right 0.3s ease; /* Animation de transition */
  z-index: 5; /* S'assurer qu'elle est au-dessus d'autres éléments si nécessaire */
  border-radius: 10px; /* Coins arrondis pour l'ensemble */
  overflow: hidden; /* Empêche les débordements */
}

/* Carte dépliée */
.map-container.expanded {
  width: 60%; /* Largeur agrandie */
  height: 60%; /* Hauteur agrandie */
  bottom: 20%; /* Monte vers le haut */
  right: 20%; /* Recul vers la gauche */
}

/* Carte pliée */
.map-container.collapsed {
  width: 20%; /* Largeur initiale */
  height: 30%; /* Hauteur initiale */
  bottom: 20px; /* Placée en bas */
  right: 20px; /* Placée à droite */
}

/* Style de la carte elle-même */
#map {
  width: 100%; /* Remplit entièrement le conteneur */
  height: 100%; /* Remplit entièrement le conteneur */
}

/* Bouton de basculement */
.toggle-button {
  position: absolute;
  bottom: 10px; /* Placé en bas de .map-container */
  right: 10px; /* Placé à droite de .map-container */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  color: white; /* Texte blanc */
  border: none;
  padding: 5px 10px; /* Réduction de la taille */
  font-size: 12px; /* Texte plus petit */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  z-index: 10; /* Toujours visible au-dessus de la carte */
}

.toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Fond légèrement plus foncé au survol */
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0.2); /* Bord extérieur transparent */
  border-top-color: #ffffff; /* Bord en haut blanc */
  border-radius: 50%; /* Cercle */
  animation: spin 1s linear infinite; /* Animation de rotation */
}

/* Animation du spinner */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
